@import url('https://fonts.googleapis.com/css2?family=Anton&family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --font-body: 'Atkinson Hyperlegible', helvetica, arial, sans-serif;
  --font-heading: 'Anton', impact, sans-serif;
  --col-a: #b482d1;
  --col-a-darker: #9c67bc;
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0em;
  font: 1em var(--font-body);
  background-color: #222;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1;
}

input, select, button, textarea {
  font: inherit;
}

a {
  color: var(--col-a);
  text-decoration: none;
}



.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  padding: 0 1em;
  width: 100%;
  max-width: 60em;
  margin: 0 auto;
}




fieldset {
  border: 0;
  padding: 0;
  margin: 1em 0;
}

.field {
  border: 0;
  background-color: #ddd;
  border-radius: 0.5em;
  padding: 0.25em 0.5em;
}

.dropdown {
  appearance: none;
  background-image: url('https://static.thenounproject.com/png/3466597-200.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 2em;
}

.filtering {
  border-radius: 0.5em;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
  padding: 1em;
}
.filtering input + label {
  margin-right: 1em;
}

.records {
  padding-left: 0;
  list-style-type: none;
}
.student {
  background-color: #ddd;
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-gap: 1em;
  padding: 0.5em;
  margin: 0.5em 0;
}
.student data {
  text-align: right;
}
.photo {
  width: 2em;
  height: 2em;
  object-fit: cover;
  object-position: center top;
  border-radius: 50%;
}






@media screen and (min-width: 40rem) {
  html {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 60rem) {
  html {
    font-size: 1.5em;
  }
}