*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0em;
  font: 1em helvetica, arial, sans-serif;
}
input, select, button, textarea {
  font: inherit;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  padding: 0 1em;
  max-width: 70em;
  margin: 0 auto;
}

.toplevel-footer, .toplevel-header {
  display: flow-root;
  background-color: #333;
  color: #fff;
}

.toplevel-main {
  flex-grow: 1;
}


fieldset {
  border: 0;
  padding: 0;
  margin: 1em 0;
}

.field {
  border: 0;
  background-color: #ddd;
  border-radius: 0.5em;
  padding: 0.25em 0.5em;
}

.dropdown {
  appearance: none;
  background-image: url('https://static.thenounproject.com/png/3466597-200.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 2em;
}

.search:focus {
  background-image: url('https://static.thenounproject.com/png/3466597-200.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 2em;
}


.filtering {
  border-radius: 0.5em;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
  padding: 1em;
}
.filtering input + label {
  margin-right: 1em;
}

.records {
  padding-left: 0;
  list-style-type: none;
}
.student {
  background-color: #ddd;
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-gap: 1em;
  padding: 0.5em;
  margin: 0.5em 0;
}
.student data {
  text-align: right;
}
.photo {
  width: 2em;
  height: 2em;
  object-fit: cover;
  object-position: center top;
  border-radius: 50%;
}
